<div class="media">
  <div class="media-left media-middle">
    <a href="#users/"<%= user.get('filepicker_url') %>>
      <img class="media-object" src="<%= thumbnail %>" alt="<%= user.escape('username') %>">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= user.escape('username') %></h4>
    <p><%= comment.escape('body') %></p>
  </div>
</div>
<div>
<% if (currentUserId == pageOwnerId || currentUserId == comment.user().id) { %>
  <input type="button" value="DELETE" class="delete-comment btn btn-xs">
<% } %>
</div>
