<form>
  <input type="text" name="title" class="form-control" placeholder="TITLE" id="title" value="<%= mission.escape('title') %>" required><br>
  <textarea name="description" class="form-control" placeholder="DESCRIPTION" id="description" required><%= mission.escape('description') %></textarea><br>
  <label>COMPENSATION: </label>
  <input type="number" name="compensation" class="form-control" id="compensation" value="<%= mission.escape('compensation') %>"
         min="0"><br>
  <input type="text" name="latitude" class="form-control" placeholder="LATITUDE" id="latitude" value="<%= mission.escape('latitude') %>" required>
  <input type="text" name="longitude" class="form-control" placeholder="LONGITUDE" id="longitude" value="<%= mission.escape('longitude') %>" required><br>
  <label>START: </label>
  <input type="date" name="start_date" class="form-control" id="start_date" value="<%= mission.get('start_date') %>" required>
  <label>END: </label>
  <input type="date" name="end_date" class="form-control" id="end_date" value="<%= mission.get('end_date') %>" required><br>
  <input type="text" name="user_limit" class="form-control" placeholder="ENLISTMENT LIMIT" id="user_limit" value="<%= mission.escape('user_limit') %>"><br>
  <input type="button" id="filepicker" class="form-control btn btn-info" value="IMAGES"><br><br>
  <% var buttonText; mission.isNew() ? buttonText = "CREATE" : buttonText = "SUBMIT" %>
  <input type="submit" value="<%= buttonText %>" class="submit-mission-form form-control btn btn-primary">
</form>
