<div class="mission-index-item">

  <div class="image">

    <a href="#missions/<%= mission.id %>">
      <img class="center-block" src="<%= thumbnail %>" alt="<%= mission.escape('title') %>">
    </a>

  </div>

  <div class="compensation">
    <p>
      $<%= mission.escape('compensation') %>
    </p>
  </div>

  <div class="leader-avatar">
    <img class="img-circle" src="<%= leaderThumbnail %>"/>
  </div>

  <div class="title">
    <p>
      <%= mission.escape('title') %>
    </p>
  </div>

</div>
