<div class="mission-index-item">

  <div class="dates">
    <p align="left">START: <%= mission.get('start_date') %></p>
    <p align="left">END: <%= mission.get('end_date') %></p>
  </div>

  <div class="image">

    <a href="#missions/<%= mission.id %>">
      <img class="center-block" src="<%= thumbnail %>" alt="<%= mission.escape('title') %>">
    </a>

  </div>

  <div class="compensation">
    <p>
      $<%= compensation %>
    </p>
  </div>

  <div class="leader-avatar">
    <img class="img-circle" src="<%= leaderThumbnail %>"/>
  </div>

  <div class="title">
    <p>
      <%= mission.escape('title') %>
    </p>
  </div>

</div>
