<div class="mission-show">
  <div class="mission-options">
    <% if (isLeader && !isComplete) { %>
      <input type="button" id="cancel-btn" class="btn btn-danger" value="CANCEL MISSION">
      <input type="button" id="complete-btn" class="btn btn-danger" value="COMPLETE MISSION">
    <% } else if (isComplete) { %>
      <h4><strong>MISSION COMPLETE</strong></h4>
      <div id="rateYo"></div>
    <% } else { %>
      <input type="button" id="enlist-btn" class="btn btn-primary" value="<%= enlistBtnValue %>">
      <input type="button" id="follow-btn" class="btn btn-default" value="<%= followBtnValue %>">
    <% } %>
  </div>
  <%= mission.id %><br>
  <%= mission.escape('title') %><br>
  <div class="mission-leader"></div><br>
  <%= mission.escape('start_date') %><br>
  <%= mission.escape('end_date') %><br>
  <%= mission.escape('description') %><br>
  <%= mission.get('latitude') %><br>
  <%= mission.get('longitude') %><br>
  <%= mission.get('compensation') %><br>
  <div class="enlisted-users-index">
    <h5>ENLISTED</h5>
  </div>
  <div class="comments-index">
    <h5>COMMENTS</h5>
  </div>
<div>
