<div class="mission-show">
  <div class="follow-enlist-cancel">
    <% if (isLeader) { %>
      <input type="button" id="cancel-btn" class="btn btn-danger" value="CANCEL MISSION">
    <% } else { %>
      <input type="button" id="enlist-btn" class="btn btn-primary" value="<%= enlistBtnValue %>">
      <input type="button" id="follow-btn" class="btn btn-default" value="<%= followBtnValue %>">
    <% } %>
  </div>
  <%= mission.id %><br>
  <%= mission.escape('title') %><br>
  <div class="mission-leader"></div><br>
  <%= mission.escape('description') %><br>
  <%= mission.get('latitude') %><br>
  <%= mission.get('longitude') %><br>
  <%= mission.get('compensation') %><br>
  <div class="enlisted-users-index">
    <h4>ENLISTED</h4>
  </div>
  <div class="following-users-index">
    <h4>FOLLOWING</h4>
  </div>
<div>
