<div class="row mission-stats-pics-loc">

  <div class="mission-options-stats col-xs-3">
    <div class="mission-stats">
      <h4><strong><%= mission.escape('title') %></strong></h4>
      <h4>LEADER: <%=mission.leader().escape('username') %></h4>
      <div class="mission-leader"></div><br>
      START: <%= mission.escape('start_date') %><br>
      END: <%= mission.escape('end_date') %><br>
      COMPENSATION: <%= mission.get('compensation') %><br>
    </div>
    <div class="mission-options">
      <% if (this.model.get('is_leader') && !this.model.get('completed')) { %>
        <div id="modal-cancellation"></div>
        <input type="button" id="cancel-btn" class="btn btn-danger" value="CANCEL MISSION">
        <div id="modal-completion"></div>
        <input type="button" id="complete-btn" class="btn btn-danger" value="COMPLETE MISSION">
      <% } else if (this.model.get('completed')) { %>
        <h4>MISSION COMPLETE</h4>
        <label>YOUR RATING:</label>
        <div class="rating-new"></div>
      <% } else if (spotsLeft === 0) { %>
        <div class="btn-follow"></div>
      <% } else { %>
        <div class="btn-enlist"></div>
        <div class="btn-follow"></div>
      <% } %>
      <br>
    </div>
    <label>AVERAGE RATING:</label>
    <div class="rating-avg"></div>
  </div>

  <div class="mission-images col-xs-6"></div>

  <div class="mission-location col-xs-3"></div>

</div>

<div class="row mission-desc-users">

  <div class="enlisted-users col-xs-3">
    <div class="enlisted-users-index"></div>
  </div>

  <div class="mission-description col-xs-9">
    <h4>DESCRIPTION</h4>
    <p><%= mission.escape('description') %></p>
  </div>

</div>

<div class="row comments">

  <div class="updates col-xs-3">
    <h4>UPDATES</h4>
    <div class="update-new"></div>
    <div class="updates-index"></div>
  </div>

  <div class="comments col-xs-7">
    <h4>COMMENTS</h4>
    <div class="comment-new"></div>
    <div class="comments-index"></div>
  </div>

</div>
