<div class="mission-show">
  <div class="mission-carousel"></div>
  <div class="mission-options">
    <% if (isLeader && !isComplete) { %>
      <input type="button" id="cancel-btn" class="btn btn-danger" value="CANCEL MISSION">
      <input type="button" id="complete-btn" class="btn btn-danger" value="COMPLETE MISSION">
    <% } else if (isComplete) { %>
      <h4><strong>MISSION COMPLETE</strong></h4>
      <label>YOUR RATING:</label>
      <div class="rating-new"></div>
    <% } else { %>
      <div class="btn-enlist"></div>
      <div class="btn-follow"></div>
    <% } %>
    <br>
    <label>AVERAGE RATING:</label>
    <div class="rating-avg"></div>
  </div>
  <%= mission.id %><br>
  <%= mission.escape('title') %><br>
  <div class="mission-leader"></div><br>
  <%= mission.escape('start_date') %><br>
  <%= mission.escape('end_date') %><br>
  <%= mission.escape('description') %><br>
  <%= mission.get('latitude') %><br>
  <%= mission.get('longitude') %><br>
  <%= mission.get('compensation') %><br>
  <h5>ENLISTED</h5>
  <div class="enlisted-users-index">
  </div>
  <h5>COMMENTS</h5>
  <div class="comments-index">
  </div>
<div>
