<!DOCTYPE html>
<html>
<head>
  <title>Nebulr</title>
  <%= stylesheet_link_tag    'application', media: "all" %>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript"
          src="//api.filepicker.io/v1/filepicker.js"></script>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "layouts/header" %>
  <%= yield %>
</body>
</html>
